@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/mulish-v1-latin-regular.woff2") format("woff2"),
        url("../fonts/mulish-v1-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/mulish-v1-latin-700.woff2") format("woff2"),
        url("../fonts/mulish-v1-latin-700.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Mulish", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-link {
  display: inline-block;
  align-items: center;
  vertical-align: baseline;
  position: relative;
  text-decoration: none;
  color: #458FF6;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 55px;
  box-shadow: inset 0 0 0 2px #458FF6;
}

.link-logo {
  display: inline-block;
  vertical-align: baseline;
  align-items: center;
  padding: 0;
  margin: 0;
}

.logo-img {
  margin: 0;
  padding: 0;
}

.head {
  max-width: 100%;
}

.site-head {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 135px;
}

.head-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.head-item {
  padding: 0;
  margin-right: 40px;
}

.head-item:not(:last-child) {
  margin-right: 40px;
}

.head-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 18px;
  color: rgba(31, 21, 52, 0.5);
}

.head-link-active {
  font-weight: bold;
  font-size: 18px;
  color: #1F1534;
}

.header-text {
  padding-top: 186px;
  padding-bottom: 153px;
  width: 445px;
}

.virtual {
  width: 427px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 48px;
}

.head-text {
  width: 445px;
  margin-top: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 21px;
  color: #7D7987;
}

.text-link {
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 40px;
  background-color: #458FF6;
  color: #fff;
  text-decoration: none;
  border-radius: 55px;
}

.site-mine {
  max-width: 100%;
}

.head-section {
  max-width: 100%;
  background-image: url("../img/illustration.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 300px) bottom;
  margin-bottom: 60px;
}

.services {
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 110px;
  text-align: center;
  background-image: url("../img/fon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% - 450px) center;
}

.service-title {
  font-weight: bold;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 26px;
  text-align: center;
}

.line {
  width: 56px;
  height: 2px;
  border: none;
  margin-bottom: 33px;
  background-color: #222;
}

.service-text {
  max-width: 952px;
  font-size: 18px;
  font-weight: 300;
  color: #7D7987;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 70px 0;
  list-style-type: none;
  background-image: url("../img/element.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.services-item {
  width: 350px;
  margin-bottom: 37px;
  margin-left: 34px;
}

.services-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #fff;
  color: #222;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 45px;
}

.services-link::before {
  content: "";
  width: 91px;
  height: 90px;
  margin-bottom: 22px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.doctor .services-link::before {
  background-image: url("../img/lupa.png");
}

.pharmacy .services-link::before {
  background-image: url("../img/dori.png");
}

.consultation .services-link::before {
  background-image: url("../img/planshet.png");
}

.detail-info .services-link::before {
  background-image: url("../img/info.png");
}

.emergency-care .services-link::before {
  background-image: url("../img/aptechka.png");
}

.tracking .services-link::before {
  background-image: url("../img/list.png");
}

.title-link {
  text-align: left;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
}

.reference {
  text-align: left;
  width: 266px;
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
  margin: 0;
}

.center {
  max-width: 100%;
  margin-bottom: 125px;
  background-image: url("../img/element.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 650px);
}

.leading {
  max-width: 100%;
  padding-top: 90px;
  padding-bottom: 20px;
  background-image: url("../img/leading.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 560px;
}

.widget {
  width: 486px;
  margin-left: auto;
  margin-bottom: 32px;
}

.center-title {
  position: relative;
  margin-top: 0;
  padding-bottom: 26px;
  font-weight: bold;
  font-size: 36px;
}

.center-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 56px;
  height: 2px;
  background-color: black;
}

.center-text {
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
}

.download {
  max-width: 100%;
  padding-top: 265px;
  background-image: url("../img/downloand.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 665px;
}

.widget-bottom {
  width: 420px;
  margin-bottom: 20px;
}

.mobil {
  width: 254px;
}

.download-link::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 16px;
  width: 15px;
  height: 15px;
  background-image: url("../img/bottom.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.testimonials {
  max-width: 1220px;
  padding: 0 40px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/element.png");
  background-position: left bottom 80px;
  background-repeat: no-repeat;
}

.rectangle {
  max-width: 1120px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
}

.top {
  max-width: 100%;
  background-image: url("../img/nuqta.png");
  background-position: calc(50% + 550px) top;
  background-repeat: no-repeat;
}

.heading {
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding-top: 64px;
}

.rectangle-line {
  width: 56px;
  height: 2px;
  border: none;
  background-color: #fff;
}

.about {
  display: flex;
  align-items: center;
  padding: 77px 118px;
}

.person {
  width: 184px;
  margin-left: 30px;
}

.name {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
}

.circle {
  margin-top: 0;
  font-size: 18px;
  color: #fff;
}

.text-right {
  width: 420px;
  font-size: 19px;
  color: #fff;
  margin-left: 110px;
}

.buttons {
  display: flex;
  padding-top: 42px;
  align-items: center;
  justify-content: center;
}

.left-button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 90px;
}

.button {
  width: 2px;
  height: 10px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #5B9BF3;
  margin-right: 18px;
}

.button:not(:last-child) {
  margin-right: 18px;
}

.right-button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 90px;
}

.our-lates-article {
  max-width: 100%;
  margin-top: 216px;
  text-align: center;
  background-image: url("../img/fontwo.png");
  background-position: calc(50% + 750px) center;
  background-repeat: no-repeat;
}

.last-title {
  margin-top: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.last-line {
  width: 56px;
  height: 2px;
  border: none;
  background-color: #222;
}

.article {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-image: url("../img/element.png");
  background-position: left top;
  background-repeat: no-repeat;
}
.article-item {
  max-width: 350px;
  margin-top: 75px;
  margin-right: 34px;
  margin-bottom: 70px;
  background-color: #fff;
  color: #222;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.article-img {
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0;
}

.article-item:not(:last-child) {
  margin-right: 34px;
}

.all {
  padding-left: 33px;
  padding-bottom: 35px;
}

.inspection-title {
  width: 256px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 21px;
  text-align: left;
}

.inspection-text {
  width: 266px;
  margin-top: 0;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
}

.inspection-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4089ED;
  font-weight: 600;
  font-size: 17px;
}

.inspection-link::after {
  content: "";
  width: 14px;
  height: 9px;
  margin-left: 10px;
  background-image: url("../img/right-button.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.site-footer {
  max-width: 100%;
  padding-top: 130px;
  background-image: url("../img/element.png");
  background-position: left calc(50% + 550px) top 140px;
  background-repeat: no-repeat;
}

.bg {
  max-width: 100%;
  margin-top: 75px;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.site-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 106px;
  padding-bottom: 106px;
  background-image: url("../img/nuqta.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

.trafalgar {
  width: 390px;
  color: #fff;
}

.footer-logo {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 17px;
  padding: 0;
}

.logo-image {
  padding: 0;
  margin: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 18px;
}

.trafalgar-text {
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
}

.last-list {
  padding: 0;
  margin: 0;
  margin-left: 145px;
  list-style-type: none;
}

.last-item {
  padding: 0;
  margin: 0;
}

.last-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #fff;
  margin: 7px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 18px;
}

.last-link-active {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 0;
  font-weight: bold;
  font-size: 20px;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {

.head-section {
  background-image: url("../img/illustration@2x.png 2x");
}

.doctor .services-link::before {
  background-image: url("../img/lupa@2x.png 2x");
}

.pharmacy .services-link::before {
  background-image: url("../img/dori@2x.png 2x");
}

.consultation .services-link::before {
  background-image: url("../img/planshet@2x.png 2x");
}

.detail-info .services-link::before {
  background-image: url("../img/info@2x.png 2x");
}

.emergency-care .services-link::before {
  background-image: url("../img/aptechka@2x.png 2x");
}

.tracking .services-link::before {
  background-image: url("../img/list@2x.png 2x");
}

.leading {
  background-image: url("../img/leading@2x.png 2x");
}

.download {
  background-image: url("../img/downloand@2x.png 2x");
}
}